<template>
  <div class="row">
    <div class="col-5">
        <div class="card border-primary border-bottom border-3 border-0">
            <div class="card-header">
                Thêm Mới Tài Khoản
            </div>
            <div class="card-body">
                <label class="mb-1 mt-1">Tên Đăng Nhập</label>
                <input class="form-control" v-model="add.ten_dang_nhap" type="text">
                <label class="mb-1 mt-1">Mật Khẩu</label>
                <input class="form-control" v-model="add.password" type="text">
                <label class="mb-1 mt-1">Email</label>
                <input class="form-control" v-model="add.email" type="text">
                <label class="mb-1 mt-1">Tình trạng</label>
                <select class="form-control" v-model="add.tinh_trang">
                    <option value="1">Hiển thị</option>
                    <option value="0">Tạm tắt</option>
                </select>
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-primary" v-on:click="themMoi()">Thêm Mới</button>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="card border-primary border-bottom border-3 border-0">
            <div class="card-header">
                Danh Sách Tài Khoản
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-center">#</th>
                            <th class="align-middle text-center">Tên Đăng Nhập</th>
                            <th class="align-middle text-center">Email</th>
                            <th class="align-middle text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="(value, key) in list">
                            <tr>
                                <th class="align-middle text-center">{{ key + 1 }}</th>
                                <td class="align-middle">{{ value.ten_dang_nhap }}</td>
                                <td class="align-middle">{{ value.email }}</td>
                                <td class="align-middle text-center">
                                    <button class="btn btn-warning" style="margin-right: 5px;" data-bs-toggle="modal"
                                        data-bs-target="#capNhatModal" v-on:click="edit = value">Cập Nhật</button>
                                    <button class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#xoaModal" v-on:click="del = value">Xóa</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div class="modal fade" id="capNhatModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Cập Nhật Tài Khoản</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label class="mb-1 mt-1">Tên Đăng Nhập</label>
                                <input class="form-control" v-model="edit.ten_dang_nhap" type="text">
                                <label class="mb-1 mt-1">Mật Khẩu</label>
                                <input class="form-control" v-model="edit.password" type="text">
                                <label class="mb-1 mt-1">Email</label>
                                <input class="form-control" v-model="edit.email" type="text">
                                <label class="mb-1 mt-1">Tình trạng</label>
                                <select class="form-control" v-model="edit.tinh_trang">
                                    <option value="1">Hiển thị</option>
                                    <option value="0">Tạm tắt</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Thoát</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" v-on:click="capNhat()">Cập Nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="xoaModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa Chức Vụ</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div
                                    class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="font-35 text-dark"><i class="bx bx-info-circle"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6 class="mb-0 text-dark">Warning</h6>
                                            <div class="text-dark">
                                                <p>Bạn có muốn xóa tài khoản <b>{{ del.ten_dang_nhap }}</b> này không?
                                                </p>
                                                <p>
                                                    <b>Lưu ý:</b> Điều này không thể hoàn tác!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Thoát</button>
                                <button type="button" class="btn btn-danger" v-on:click="delTaiKhoan()" data-bs-dismiss="modal">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios';
import { createToaster } from "@meforma/vue-toaster";
const toaster = createToaster({ position: "top-right" });
export default {
    data() {
        return {
            add  : {},
            list : [],
            edit : {},
            del  : {}
        }
    },
    mounted() {
        this.loadData();
    },
    methods: {
        themMoi(){
            axios
                .post('http://127.0.0.1:8000/api/admin/tai-khoan/create', this.add)
                .then((res) => {
                    if(res.data.status){
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadData();
                        this.add  = {};
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function(k, v) {
                        toastr.error(v[0], 'Error');
                    });
                });
        },

        capNhat(){
            axios
                .post('http://127.0.0.1:8000/api/admin/tai-khoan/update', this.edit)
                .then((res) => {
                    if(res.data.status){
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadData();
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function(k, v) {
                        toastr.error(v[0], 'Error');
                    });
                });
        },

        delTaiKhoan(){
            axios
                .post('http://127.0.0.1:8000/api/admin/tai-khoan/delete', this.del)
                .then((res) => {
                    if(res.data.status){
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadData();
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function(k, v) {
                        toastr.error(v[0], 'Error');
                    });
                });
        },

        loadData(){
            axios
                .get('http://127.0.0.1:8000/api/admin/tai-khoan/data')
                .then((res) => {
                    this.list = res.data.data;
                    console.log(this.list);
                });
        }
    }
}
</script>

<style>

</style>