<template>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex flex-row">
                            <img src="https://i.pinimg.com/564x/da/bf/b6/dabfb6d70dc824d6ee120a61a2c3c76b.jpg"
                                class="rounded-circle" style="width: 40px; height: 40px;">
                            <!-- <input type="text" class="form-control" placeholder="Bạn đang nghĩ gì thế?"
                                        style="border-radius: 20px; margin-left: 10px;"> -->
                            <button class="btn btn-light rounded-5 border border-secondary w-100 ms-2"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">Bạn đang nghĩ gì
                                thế?</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4">
                            <i class="fa-solid fa-video text-danger"></i> Video Trực Tiếp
                        </div>
                        <div class="col-4 text-center">
                            <i class="fa-solid fa-images text-success"></i> Ảnh/Video
                        </div>
                        <div class="col-4 text-end">
                            <i class="fa-solid fa-face-laugh text-warning"></i> Cảm xúc/Hoạt động
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tạo bài viết</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center">
                        <img src="https://i.pinimg.com/564x/da/bf/b6/dabfb6d70dc824d6ee120a61a2c3c76b.jpg"
                            class="rounded-circle" style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column ms-2">
                            <select class="form-select" v-model="add_bv.id_user">
                                <option selected value="0">Chọn Tài Khoản</option>
                                <template v-for="(value, key) in list_tk">
                                    <option v-bind:value="value.id">{{ value.ten_dang_nhap }}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <!-- Thêm Mới Bài Viết -->
                    <div class="row mt-2">
                        <textarea v-model="add_bv.content_stt" class="form-control" cols="50" rows="5"
                            placeholder="Bạn đang nghĩ gì thế?"></textarea>
                    </div>
                    <div class="row mt-3">
                        <label class="form-label">Hình Ảnh</label>
                        <input v-model="add_bv.image" type="text" class="form-control" placeholder="Nhập link ảnh">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal"
                        v-on:click="dangBai()">Đăng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <template v-for="(value, key) in list_bai_dang">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 ">
                                <div class="d-flex align-items-center">
                                    <img src="https://i.pinimg.com/564x/b8/a5/55/b8a555430ba421a6031598808e5621ed.jpg"
                                        class="rounded-circle" style="width: 40px; height: 40px;">
                                    <div class="d-flex flex-column ms-2">
                                        <b><span>{{ value.ten_dang_nhap }}</span></b>
                                        <span class="opacity-75" style="font-size: 12px;">17 tháng 7 <i
                                                class="fa-solid fa-earth-americas"></i></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 text-end align-self-center">
                                <div class="row">
                                    <div class="col">

                                    </div>
                                    <div class="col text-nowrap">
                                        <button v-on:click="edit_bv = value" data-bs-toggle="modal" data-bs-target="#capnhatModal" class="btn btn-secondary"
                                            style="border-radius: 100%; width: 40px; height: 40px;">
                                            <i class="fa-solid fa-ellipsis fa-1x"></i>
                                        </button>
                                        <button data-bs-toggle="modal" data-bs-target="#xoaBaiDang"
                                            v-on:click="deleteBaiDang = value" class="btn btn-secondary"
                                            style="border-radius: 100%; width: 40px; height: 40px;">
                                            <i class="fa-solid fa-xmark fa-1x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                {{ value.content_stt }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <img v-bind:src="value.image" class="img-fluid" alt="...">
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <i class="fa-solid fa-thumbs-up text-primary"></i>
                                        <i class="fa-solid fa-face-laugh-squint text-warning"
                                            style="margin-left: -5px;"></i>
                                        <i class="fa-solid fa-heart text-danger" style="margin-left: -5px;"></i>
                                        <span class="opacity-75" style="font-size: 12px;">199k</span>
                                    </div>
                                    <div class="col-6 text-end">
                                        <span class="opacity-75" style="font-size: 12px;">100 bình luận</span>
                                        <span class="opacity-75" style="font-size: 12px;">20 lượt chia sẻ</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-around">
                                    <div>
                                        <i class="fa-regular fa-thumbs-up"></i> Thích
                                    </div>
                                    <div v-on:click="cmt = value" data-bs-toggle="modal" data-bs-target="#cmtModal">
                                        <i class="fa-regular fa-message"></i> Bình luận
                                    </div>
                                    <div>
                                        <i class="fa-regular fa-share-from-square"></i> Chia sẻ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cmtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bài viết của {{ cmt.ten_dang_nhap }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="d-flex align-items-center">
                                        <img v-bind:src="cmt.image"
                                            class="rounded-circle" style="width: 40px; height: 40px;">
                                        <div class="d-flex flex-column ms-2">
                                            <b><span>{{ cmt.ten_dang_nhap }}</span></b>
                                            <span class="opacity-75" style="font-size: 12px;">17 tháng 7 <i
                                                    class="fa-solid fa-earth-americas"></i></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-6 text-end align-self-center">
                                    <div class="row">
                                        <div class="col">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-12">
                                    {{ cmt.content_stt }}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <img v-bind:src="cmt.image"
                                    class="img-fluid" alt="...">
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="fa-solid fa-thumbs-up text-primary"></i>
                                            <i class="fa-solid fa-face-laugh-squint text-warning"
                                                style="margin-left: -5px;"></i>
                                            <i class="fa-solid fa-heart text-danger" style="margin-left: -5px;"></i>
                                            <span class="opacity-75" style="font-size: 12px;">199k</span>
                                        </div>
                                        <div class="col-6 text-end">
                                            <span class="opacity-75" style="font-size: 12px;">100 bình luận</span>
                                            <span class="opacity-75" style="font-size: 12px;">20 lượt chia sẻ</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex justify-content-around">
                                        <div>
                                            <i class="fa-regular fa-thumbs-up"></i> Thích
                                        </div>
                                        <div>
                                            <i class="fa-regular fa-message"></i> Bình luận
                                        </div>
                                        <div>
                                            <i class="fa-regular fa-share-from-square"></i> Chia sẻ
                                        </div>
                                    </div>
                                    <hr>
                                    <input type="text" v-model="cmt.content" class="form-control" v-on:keyup.enter="vietCmt()" placeholder="Bình luận">
                                    <template v-for="(value, key) in list_comment">
                                        <div class="modal-body">
                                            <div class="d-flex align-items-center">
                                                <img src="https://i.pinimg.com/564x/da/bf/b6/dabfb6d70dc824d6ee120a61a2c3c76b.jpg"
                                                    class="rounded-circle" style="width: 40px; height: 40px;">
                                                <div class="d-flex flex-column ms-2">
                                                    <b><span>{{ value.ten_dang_nhap }}</span></b>
                                                    <span>{{ value.content }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal xóa -->
    <div class="modal fade" id="xoaBaiDang" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa bài viết</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   Bạn có chắc chắn xóa bài viết này không!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger"  data-bs-dismiss="modal" v-on:click="xoaBaiDang()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- cập nhật -->
    <div class="modal fade" id="capnhatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cập nhật bài viết</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center">
                        <img src="https://i.pinimg.com/564x/da/bf/b6/dabfb6d70dc824d6ee120a61a2c3c76b.jpg"
                            class="rounded-circle" style="width: 40px; height: 40px;">
                        <div class="d-flex flex-column ms-2">
                            <select class="form-select" v-model="edit_bv.id_user">
                                <option selected value="0">Chọn Tài Khoản</option>
                                <template v-for="(value, key) in list_tk">
                                    <option v-bind:value="value.id">{{ value.ten_dang_nhap }}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <textarea v-model="edit_bv.content_stt" class="form-control" cols="50" rows="5"
                            placeholder="Bạn đang nghĩ gì thế?"></textarea>
                    </div>
                    <div class="row mt-3">
                        <label class="form-label">Hình Ảnh</label>
                        <input v-model="edit_bv.image" type="text" class="form-control" placeholder="Nhập link ảnh">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal"
                        v-on:click="updateBaiDang()">Cập Nhật</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import { createToaster } from "@meforma/vue-toaster";
const toaster = createToaster({ position: "top-right" });
export default {
    data() {
        return {
            list_tk         : [],
            add_bv          : { 'id_user': 0 },
            edit_bv         : {},
            list_bai_dang   : [],
            list_comment    : [],
            deleteBaiDang   : {},
            cmt : {}
        }
    },
    mounted() {
        this.loadData();
        this.loadTaiKhoan();
        this.loadCmt();
    },
    methods: {
        loadTaiKhoan() {
            axios
                .get('http://127.0.0.1:8000/api/admin/tai-khoan/data')
                .then((res) => {
                    this.list_tk = res.data.data;
                });
        },

        dangBai() {
            axios
                .post('http://127.0.0.1:8000/api/admin/bai-dang/create', this.add_bv)
                .then((res) => {
                    if (res.data.status) {
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadData();
                        this.add_bv = {};
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function (k, v) {
                        toaster.error(v[0], 'Error');
                    });
                });
        },

        xoaBaiDang() {
            axios
                .post('http://127.0.0.1:8000/api/admin/bai-dang/delete', this.deleteBaiDang)
                .then((res) => {
                    if (res.data.status) {
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadData();
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function (k, v) {
                        toaster.error(v[0], 'Error');
                    });
                });
        },

        updateBaiDang(){
            axios
                .post('http://127.0.0.1:8000/api/admin/bai-dang/update', this.edit_bv)
                .then((res) => {
                    if (res.data.status) {
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadData();
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function(k, v) {
                        toaster.error(v[0], 'Error');
                    });
                });
        },

        vietCmt(){
            axios
                .post('http://127.0.0.1:8000/api/admin/bai-dang/comment', this.cmt)
                .then((res) => {
                    if (res.data.status) {
                        toaster.success('Thông báo<br>' + res.data.message);
                        this.loadCmt();
                        this.cmt.content = '';
                    }
                })
                .catch((res) => {
                    $.each(res.response.data.errors, function(k, v) {
                        toaster.error(v[0], 'Error');
                    });
                });
        },

        loadCmt(){
            axios
                .get('http://127.0.0.1:8000/api/admin/bai-dang/comment-data')
                .then((res) => {
                    this.list_comment = res.data.data;
                });
        },

        loadData() {
            axios
                .get('http://127.0.0.1:8000/api/admin/bai-dang/data')
                .then((res) => {
                    this.list_bai_dang = res.data.data;
                });
        }
    }
}
</script>

<style>
</style>