<template>
    <div class="row mb-3">
        <div class="col-12 text-end">
            <button class="btn btn-outline-primary px-5 radius-30" data-bs-toggle="modal" data-bs-target="#themMoiModal">
                <b>Thêm Mới</b>
            </button>
        </div>
    </div>
    <div class="modal fade" id="themMoiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm Mới Nhà Cung Cấp</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label">Mã Số Thuế</label>
                                <input type="text" v-model="create_nha_cung_cap.ma_so_thue" class="form-control"
                                    placeholder="Nhập Mã Số Thuế">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Tên Công Ty</label>
                                <input type="text" v-model="create_nha_cung_cap.ten_cong_ty" class="form-control"
                                    placeholder="Nhập Tên Công Ty">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Tên Người Đại Diện</label>
                                <input type="text" v-model="create_nha_cung_cap.ten_nguoi_dai_dien" class="form-control"
                                    placeholder="Nhập Tên Người Đại Diện">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label mt-3">Số Điện Thoại</label>
                                <input type="number" v-model="create_nha_cung_cap.so_dien_thoai" class="form-control"
                                    placeholder="Nhập Số Điện Thoại">
                            </div>
                            <div class="col-4">
                                <label class="form-label mt-3">Email</label>
                                <input type="email" v-model="create_nha_cung_cap.email" class="form-control"
                                    placeholder="Nhập Email">
                            </div>
                            <div class="col-4">
                                <label class="form-label mt-3">Địa Chỉ</label>
                                <input type="text" v-model="create_nha_cung_cap.dia_chi" class="form-control"
                                    placeholder="Nhập Địa Chỉ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label mt-3">Tên Gợi Nhớ</label>
                                <input type="text" v-model="create_nha_cung_cap.ten_goi_nho" class="form-control"
                                    placeholder="Nhập Tên Gợi Nhớ">
                            </div>
                            <div class="col-6">
                                <label class="form-label mt-3">Tình Trạng</label>
                                <select class="form-control" v-model="create_nha_cung_cap.tinh_trang">
                                    <option value="0">Tạm Tắt</option>
                                    <option value="1">Hoạt Động</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary" v-on:click="createNhaCungCap()"
                        data-bs-dismiss="modal">Thêm Mới</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card border-top border-0 border-4 border-primary">
            <div class="card-header">
                <h5>Danh Sách Nhà Cung Cấp</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th colspan="100%">
                                    <div class="input-group mb-3">
                                        <input v-on:keyup.enter="searchNhaCungCap()" v-model="key_search.abc" type="text"
                                            class="form-control" placeholder="Nhập thông tin cần tìm">
                                        <button class="btn btn-primary" v-on:click="searchNhaCungCap()">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle text-nowrap">
                                    #
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Mã Số Thuế
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Tên Công Ty
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Người Đại Diện
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Số Điện Thoại
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Email
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Địa Chỉ
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Tên Giợi Nhớ
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Tình Trạng
                                </th>
                                <th class="text-center align-middle text-nowrap">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, k) in list_nha_cung_cap">
                                <th class="text-center align-middle text-nowrap">
                                    {{ k + 1 }}
                                </th>
                                <td class="text-center align-middle text-nowrap">
                                    {{ v.ma_so_thue }}
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    {{ v.ten_cong_ty }}
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    {{ v.ten_nguoi_dai_dien }}
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    {{ v.so_dien_thoai }}
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    {{ v.email }}
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#diaChiModal" v-on:click="dia_chi = v">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    {{ v.ten_goi_nho }}
                                    
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    <button v-if="v.tinh_trang == 1" class="btn btn-success">Hoạt Động</button>
                                    <button v-else class="btn btn-warning">Tạm Dừng</button>
                                </td>
                                <td class="text-center align-middle text-nowrap">
                                    <button class="btn btn-info" style="width: 100px;" data-bs-toggle="modal"
                                        data-bs-target="#capNhatModal">Cập
                                        Nhật</button>
                                    <button class="btn btn-danger" style="width: 100px;" data-bs-toggle="modal"
                                        data-bs-target="#xoaModal"
                                        v-on:click="Object.assign(delete_nha_cung_cap, v)">Xóa</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="capNhatModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Cập Nhật Nhà Cung Cấp</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-label">Mã Số Thuế</label>
                                            <input type="text" class="form-control" placeholder="Nhập Mã Số Thuế">
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label">Tên Công Ty</label>
                                            <input type="text" class="form-control" placeholder="Nhập Tên Công Ty">
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label">Tên Người Đại Diện</label>
                                            <input type="text" class="form-control" placeholder="Nhập Tên Người Đại Diện">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="form-label mt-3">Số Điện Thoại</label>
                                            <input type="number" class="form-control" placeholder="Nhập Số Điện Thoại">
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label mt-3">Email</label>
                                            <input type="email" class="form-control" placeholder="Nhập Email">
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label mt-3">Địa Chỉ</label>
                                            <input type="email" class="form-control" placeholder="Nhập Địa Chỉ">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="form-label mt-3">Tên Gợi Nhớ</label>
                                            <input type="text" class="form-control" placeholder="Nhập Tên Gợi Nhớ">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label mt-3">Tình Trạng</label>
                                            <select class="form-control">
                                                <option value="0">Yes</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                <button type="button" class="btn btn-primary">Cập Nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="xoaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa Nhà Cung Cấp</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                                    <div class="d-flex align-items-center">
                                        <div class="font-35 text-dark"><i class="bx bx-info-circle"></i>
                                        </div>
                                        <div class="ms-3">
                                            <h6 class="mb-0 text-dark">Warning</h6>
                                            <div class="text-dark">
                                                <p>Bạn có muốn xóa nhà cung cấp <b>{{ delete_nha_cung_cap.ten_cong_ty }}</b>
                                                    này
                                                    không?</p>
                                                <p>
                                                    <b>Lưu ý:</b> Điều này không thể hoàn tác!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    v-on:click="deleteNhaCungCap()">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="diaChiModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Địa Chỉ Nhà Cung Cấp</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ dia_chi.dia_chi }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
            list_nha_cung_cap: [],
            key_search: {},
            create_nha_cung_cap: {},
            delete_nha_cung_cap: {},
            dia_chi: {},

        }
    },
    mounted() {
        this.loadDataNhaCungCap();
    },
    methods: {
        loadDataNhaCungCap() {
            axios
                .get('http://127.0.0.1:8000/api/admin/nha-cung-cap/lay-du-lieu')
                .then((res) => {
                    this.list_nha_cung_cap = res.data.nha_cung_cap;
                });
        },

        searchNhaCungCap() {
            axios
                .post('http://127.0.0.1:8000/api/admin/nha-cung-cap/tim-nha-cung-cap', this.key_search)
                .then((res) => {
                    this.list_nha_cung_cap = res.data.nha_cung_cap;
                });
        },
        createNhaCungCap() {
            axios
                .post('http://127.0.0.1:8000/api/admin/nha-cung-cap/tao-nha-cung-cap', this.create_nha_cung_cap)
                .then((res) => {
                    if (res.data.status == true) {
                        alert(res.data.message);
                        this.loadDataNhaCungCap();
                    }
                })

        },
        deleteNhaCungCap() {
            axios
                .delete('http://127.0.0.1:8000/api/admin/nha-cung-cap/xoa-nha-cung-cap/' + this.delete_nha_cung_cap.id)
                .then((res) => {
                    if (res.data.status == true) {
                        alert(res.data.message);
                        this.loadDataNhaCungCap();
                    }
                    else {
                        alert(res.data.message);

                    }
                });
        },

    }
}
</script>
<style></style>